# vim: set syntax=bash

# This file contains values that control the behavior of the
# hetzner-okd-install script.

# Make a copy of this file and save as 'config'.

LATEST_FEDORA_COREOS_VERSION=$(curl -s https://builds.coreos.fedoraproject.org/streams/stable.json | jq -r '.architectures.x86_64.artifacts.metal.release')

# Set the name of the cluster and the base domain you'd like to use.
CLUSTER_NAME="okd"
BASE_DOMAIN="example.com"
DOMAIN="${CLUSTER_NAME}.${BASE_DOMAIN}"

# Set the SSH pub key that will be added to the servers.
SSH_KEY="ssh-ed25519 AA ...."

# Determine how many control plane and worker nodes you'd like.
# Minimum workers=2. Minimum control plane=3.
NUM_OKD_WORKERS=2
NUM_OKD_CONTROL_PLANE=3